<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Layouts</title>
</head>

<body>
    <h1>This is in the LAYOUT page, this is a kind of master template.</h1>
    <%- body %>
        <%- include('partials/onepartial')  %>
</body>

</html>